CodeRefactoringsForVisualStudio/obj/
CodeRefactoringsForVisualStudio.Vsix/bin/
CodeRefactoringsForVisualStudio/bin/
CodeRefactoringsForVisualStudio.Vsix/obj/
.vs/
CodeRefactoringsForVisualStudio.Tests/obj/
CodeRefactoringsForVisualStudio.Tests/bin/
CodeRefactoringsForVisualStudio.Extensions/bin/
CodeRefactoringsForVisualStudio.Extensions/obj/
InvertAssignmentDirection/InvertAssignmentDirection.Vsix/bin/
InvertAssignmentDirection/InvertAssignmentDirection.Vsix/obj/
InvertAssignmentDirection/InvertAssignmentDirection/obj/
InvertAssignmentDirection/InvertAssignmentDirection/bin/
InvertAssignmentDirection.Vsix/bin/
InvertAssignmentDirection/obj/
InvertAssignmentDirection.Vsix/obj/
EncapsulateFieldForWPF/obj/
EncapsulateFieldForWPF/bin/
EncapsulateFieldForWPF.Vsix/obj/
EncapsulateFieldForWPF.Vsix/bin/
InvertAssignmentDirection/bin/
ConvertToFullWPFProperty/obj/
ConvertToFullWPFProperty.Vsix/obj/
ConvertToFullWPFProperty.Vsix/bin/
ConvertToFullWPFProperty/bin/
ConvertToFullWPFProperty.Vsix/ConvertToFullWPFProperty.Vsix.csproj.user
IntroduceParameterObject/IntroduceParameterObject/obj/
IntroduceParameterObject/IntroduceParameterObject.Vsix/obj/
IntroduceParameterObject/IntroduceParameterObject.Vsix/bin/
IntroduceParameterObject/IntroduceParameterObject/bin/
